<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册</title>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,
                                     initial-scale=1.0,
                                     maximum-scale=1.0,
                                     user-scalable=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<meta charset="UTF-8">
<title>用户注册</title>
</head>
<body>
<form name="loginForm" method="POST" action="/userRegist/update">
    <div class="id">
        <div>用户id:</div>
        <div><input name="userId">
            <div th:text="${userIdError}"></div>
        </div>
    </div>
    <div class="id">
        <div>用户名:</div>
        <div><input type="text" name="userName"></div>
    </div>
    <div class="pd">
        <div>密码:</div>
        <div><input name="password" type='password'></div>
    </div>
    <input type="submit" value="注册">
    <div style="color: red" th:text="${registState}"></div>


</form>
</body>
</html>